@font-face {
  font-family: "iconfont"; /* Project id 4454399 */
  src: url('//at.alicdn.com/t/c/font_4454399_emxyw8jq11v.woff2?t=1709624520967') format('woff2'),
       url('//at.alicdn.com/t/c/font_4454399_emxyw8jq11v.woff?t=1709624520967') format('woff'),
       url('//at.alicdn.com/t/c/font_4454399_emxyw8jq11v.ttf?t=1709624520967') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-haoping:before {
  content: "\e6c6";
}

.icon-icon:before {
  content: "\e66d";
}

.icon-shijian:before {
  content: "\e8a9";
}

.icon-peisong:before {
  content: "\e749";
}
