.contain{
  background-color: rgba(153, 153, 153, 0.1);
  height: 100vh;
  .profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 30rpx;  
    padding: 0rpx 10rpx;
    height: 100rpx;
    margin: 20rpx;
    position:relative;
    &::after {
      content: '\e60b';
      font-family: 'iconfont';
      position: absolute;
      right: 0px;
      font-size: 26rpx;
      color: #999;
      padding-right: 10rpx;
    }
    text:first-child {
      color: #333;
      font-size: 30rpx;
    }
    text:last-child{
    padding:0rpx 50rpx;
    }
  }
}
.avatar{
  display: flex;}
.avatar image {
  width: 100rpx;
  height: 100rpx;
  position: relative;
  border-radius: 50%;
  
}
button{
  background-color: #FFf;
  padding: 0rpx;
  height: 100%;
}

.saveBotton{
  display: flex;

  justify-content: center;
  .van-button{
    width: 40vh;
  }
}
/* 更新用户昵称 */
.van-field__control {
  border: 1px solid #efefef !important;
  min-height: 60rpx !important;
  line-height: 60rpx !important;
  margin: 16rpx !important;
  padding-left: 20rpx !important;
  border-radius: 16rpx;
}

/* 更新用户昵称 */

// 更新用户名
.dialog-content {
  display: flex;

  .cancel {
    color: #333;
    font-size: 36rpx;
    height: 60rpx;
    margin:20rpx 10rpx;

  }
  .confirm{
    font-size: 36rpx;
    height: 60rpx;
    margin:20rpx 30rpx;
  }
}

.input-name {
  border: 1px solid #ccc;
  margin: 40rpx 40rpx;
  height: 60rpx;
  line-height: 60rpx;
  border-radius: 16rpx;
  padding: 6rpx 12rpx;
  padding-left: 20rpx;
}
